Week-2/flows/postgres_taxi.yml
id: postgres_taxi
namespace: zoomcamp

inputs:
  - id: taxi
    type: SELECT
    displayName: Select taxi type
    values: ['yellow', 'green']
    defaults: 'yellow'
  
  - id: year
    type: SELECT
    displayName: Select year
    values: ['2019', '2020']
    defaults: '2019'
  
  - id: month
    type: SELECT
    displayName: Select month
    values: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
    defaults: '01'

variables:
  file: '{{inputs.taxi}}_tripdata_{{inputs.year}}-{{inputs.month}}.csv'
  staging_table: 'public.{{inputs.taxi}}_tripdata_staging'
  table: 'public.{{inputs.taxi}}_tripdata'
  data: '{{outputs.extract.outputFiles[inputs.taxi ~ "_tripdata_" ~ inputs.year ~ "-" ~ inputs.month ~ ".csv"]}}'

 


tasks:
  - id: hello
    type: io.kestra.plugin.core.log.Log
    message: Hello World! 🚀